fasta_file	/home/jenica/Data_Archive/Neils_sandfly/align/inifiles/sandfly_phrep_gen.fasta
qual_file	/home/jenica/Data_Archive/Neils_sandfly/align/inifiles/sandfly_phrep_gen.fasta.qual
lucy_path	/home/jenica/Programs/lucy-1.20p/
lucy_params	-vector /home/jenica/Data_Archive/Neils_sandfly/vector/pexpress-1_b.fas /home/jenica/Data_Archive/Neils_sandfly/vector/pexpress-1splice.fas
seqclean_path	/home/jenica/Programs/seqclean
seqclean_params	-v contaminant.fas
cap3_mate_params	/home/jenica/Data_Archive/Neils_sandfly/pipeline/ptemp/ testp /home/jenica/Programs/CAP3/ /home/jenica/Data_Archive/Neils_sandfly/pipeline/pipeline_test ignore -p 80 -o 20 -z 1 -h 95
